body{
    margin: 0px;
    color: black;

}
.Panel{
    width: 40%;
    height: 100%;
    background-color: #EDF2F6;

}
.top-Panel{
    background-color: #374754;
    /*height: 10%;*/
    width: 100%;
    /*position: fixed;*/
}
.top-Panel h2{
    text-align: center;
    /*position: relative;*/
    /*top:29%;*/
    /*left: 25%;*/
    margin: 0px;
    line-height: 90px;
    color: white;
}




.bottom-Panel{
    background-color: #EDF2F6;
    position: relative;
    width: 60%;
    height: inherit;
    /*overflow: scroll;*/
}


.timeLine-Bar{
    height: 90%;
    width: 5px;
    background-color: #DCE7EF;
    position: relative;
    top:5%;
    left: 15%;
    border-radius: 4px;
    padding: 0px;
    border: 0px;
    margin: 0px;
}





.timeLine-UL{
    /*display: inline;*/
    position:relative;
    top:10%;
    left: 12%;
    list-style-type: none;
}

.timeLine-UL:before{
    display: block;
    content: "";
    height: 100%;
    width: 5px;
    background: #DCE7EF;
    position: absolute;
    left: 3%;
    top:0%;
    border-radius: 4px;
    padding: 0px;
    border: 0px;
    margin: 0px;

}
.timeLine-UL li{
    padding-left:1em;
}

.timeLine-UL li[type="green"]:before{
    display: block;
    content: "";
    height:25px;
    width: 25px;
    background-color: green;
    position: relative;
    left: -54px;
    top:19px;
    border: 3px solid #FFFFFF;
    box-shadow: 1px 1px 7px #D4D4D4;
    border-radius: 50%;
}

.timeLine-UL li[type="red"]:before{
    display: block;
    content: "";
    height:25px;
    width: 25px;
    background-color: red;
    position: relative;
    left: -54px;
    top:19px;
    border: 3px solid #FFFFFF;
    box-shadow: 1px 1px 7px #D4D4D4;
    border-radius: 50%;
}



.comment-Box p{
    padding: 0px;
    margin: -5px 0px 8px 10px;
}


.comment-Box{
    position: relative;
    background-color: white;
    min-height: 17vh;
    width: 80%;
    margin: 0% 0% 15% 0%;
    color: black;
    border-radius: 4px;
    box-shadow: 1px 1px 7px #D4D4D4;
    top: -15px;
    /*overflow: auto;*/
}

.comment-Box:before{
    position: relative;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid white;
    left:-10px;
    top: 6px;
    content: "";
    display: block;
    /*box-shadow: 1px 1px 7px #D4D4D4;*/

}








